:root {
    /* Cores */
    --azul-escuro: #0D1423;
    --branco: #ffffff;
    --cinza: #2B2E34;
    --preto: #000000;
    --lilas-clarinho: #AFC0E2;

    /* Fonte */
    --nunito: 'Nunito', sans-serif;
}