@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;700&display=swap');
@import url(_variaveis.css);
@import url(../componentes/1-header/1-navbar.css);

body {
    background: var(--azul-escuro);
    font-family: var(--space);
    color: var(--branco);
}