.navbar--brand {
    letter-spacing: .125rem;
}

.cabecalho, .offcanvas--header {
    background: rgba(255, 255, 255, 0.15);
    -webkit-backdrop-filter: blur(3.9688rem);
}

.offcanvas--mod {
    background: var(--azul-escuro);
}

.icon__navbar  {
    background-size: cover;
    background-repeat: no-repeat;

    cursor: pointer;

    height: 3.75rem;
    width: 3.75rem;
}

.botao__carrinho {
    background-image: url(../../../img/icon/carrinho.svg);
}

.botao__perfil {
    background-image: url(../../../img/icon/Avatar.svg);
}