.cabecalho {
    padding: 1rem 0;
}

.navbar-toggler--icon {
    background-image: url(../../../img/icon/menu\ hamburguer.svg);
}

.offcanvas--mod {
    background: var(--cinza);
    transition: 1s;
}

.btn--close {
    background-image: url(../../../img/icon/iconmonstr-x-mark-lined-240.png);
    background-size: 100%;
}

.nav--link {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5625rem;
}
